main {
    margin: 0 auto;
    background: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    place-items: center;
}

main img {
    width: 300px;
}